<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pandaville</title>
    <link rel="stylesheet" href="content/bootstrap.min.css" />
    <link rel="stylesheet" href="content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="content/site.css" />
</head>
<body>
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>-->
          <a class="brand" href="#">Pandaville</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              
            </p>
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="body-content">

    </div>

    <script data-main="src/index.js" src="scripts/require.js"></script>
</body>
</html>
