body {
	background: url(images/Evil-Panda.png) no-repeat fixed center;
	min-height: 100%;
	height: 100%
}

@media (min-width: 979px) {
	body {
		padding-top: 60px;
	}

}

#world-container {
	position: relative;
}
#world {
	position: absolute;
	background: #808080;
}

@media (min-width: 979px)
{
	#world {
		top: 40px;
	}
}

.building {
	fill: red;
}